.form{

}
.choice_form,.std_inform{
    margin-top: 20px;
    margin-left: 40px;
    float: left;
    width: 46%;
    height: 300px;
    border-right: 1px solid #fff;
    margin-bottom: 20px;
}
.std_inform{
    border: none;
}

.std_inform img{
    width: 200px;
    height: 200px;
}