form{margin: auto;width:1280px;padding-bottom: 40px;}
legend{font-size: 28px;color: rgb(235, 75, 75)}


.fpe{width: 1240px;margin-top: 30px;margin-left: 30px;margin-right: 30px;border: 1px dotted rgb(75, 69, 69);height: 335px;margin-bottom: 20px}
.fpeh{margin-top: 10px;margin-left: 20px}
.fpe p{margin-left: 20px}
.fpe1{width: 640px;float: left;margin-left: 20px;margin-right: 20px}