.input{margin-left:30px;width:50%;padding-bottom: 40px;float: left;}
legend{font-size: 28px;color: rgb(235, 75, 75)}


.fpe{margin-top: 30px;margin-left: 30px;margin-right: 30px;border: 1px dotted rgb(75, 69, 69);height: 335px;margin-bottom: 20px}
.fpeh{margin-top: 10px;margin-left: 20px}
.fpe p{margin-left: 20px}
.fpe1{float: left;margin-left: 20px;margin-right: 20px}
.result{margin-left:30px;width:40%;padding-bottom: 40px;float: left;}
.resultMain{height: 300px;margin-top: 30px;margin-left: 30px;margin-right: 30px;border: 1px dotted rgb(75, 69, 69);height: 335px;margin-bottom: 20px}
.resMainp{margin-left: 20px;margin-bottom: 10px}







